{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title> City Farmer</title>
        <link rel="icon" type="image/x-icon" href="{%static "assets/img/favicon.ico" %}" />
        <script src=  "https://use.fontawesome.com/releases/v5.13.0/js/all.js"  crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <link href="{% static "css/styles.css"%}" rel="stylesheet" />
        <script type="text/javascript">

        </script>
    </head>
    <body id="page-top">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                </div>
            </div>
        </nav>
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">내가 촬영한 농작물들을 보여줍니다.</div>
                <div class="masthead-heading text-uppercase"> 내 농작물 보기 </div>

            </div>
        </header>
        <section class="page-section" >
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">내 농작물 보기</h2>
                </div>
                <form  action = "showphoto" method="post">
                    <div class="timeline-heading">
                        <h4 class="subheading">토마토</h4>
                        {% for i in listofimagesPath_t %}
                        <img src = '{{i}}' border = "30" width = "200" height="200">
                        {{filePathName}}
                        {% endfor %}
                    </div>
                    <div class="timeline-heading">
                        <h4 class="subheading">고추</h4>
                        {% for i in listofimagesPath_p %}
                        <img src = '{{i}}' border = "30" width = "200" height="200"> 
                        {{filePathName}}
                        {% endfor %}
                    </div>
                    <div class="timeline-heading">
                        <h4 class="subheading">상추</h4>
                        {% for i in listofimagesPath_s %}
                        <img src = '{{i}}' border = "30" width = "200" height="200">
                        {{filePathName}}
                        {% endfor %}
                    </div>   
                </form>
            </div>
        </section>
